.App {
  margin: 0 auto;
  font-size: 30px;
  width: 140px;
  text-align: center;
  border: 1px black solid;
  border-radius: 10px;
}

.numBlock {
  margin: 5px;
  padding: 5px;
  border: 1px black solid;
  border-radius: 10px;
}

.buttonBlock {
  margin: 5px;
  padding: 5px;
  border: 1px black solid;
  border-radius: 10px;
}

.buttonBlock button {
  margin: 4px;
  background-color: #8686f6;
  border: 1px black solid;
  border-radius: 10px;
}

.error {
  color: red;
}